[submodule "point_cloud_object_detection/pcod-common"]
	path = point_cloud_object_detection/pcod-common
	url = ../../../ml/pcod-common
[submodule ".openads-dev-environment"]
	path = .openads-dev-environment
	url = https://github.com/openads-project/openads-dev-environment.git
